<% provide(:title, 'About') %>

<header id="header">
	<%= link_to 'Home', root_path, class: 'home_button' %>
</header>

<h3>This is a Chess Web App built by Milo Gill-Taylor using the Ruby on Rails Framework.  It was built for educational purposes.</h3>

