<% provide(:title, 'Setup Game') %>

<header id="header">
	<%= link_to 'Home', root_path, class: 'home_button' %>
</header>

<main>
	<section>
		<ul>
			<li><%= link_to 'AI', new_game_path(opponent: 'AI'), class: 'button' %></li>
			<li><%= link_to 'Friend', '#', class: 'button' %></li>
			<li><%= link_to 'Guest', new_game_path(opponent: 'Guest'), class: 'button' %></li>
		</ul>
	</section>
</main>
