<% provide(:title, "Game #{@game.id}") %>

<script>
	window.gameId = <%= @game.id %>
</script>

<header id="header">
	<%= link_to 'Home', root_path, class: 'home_button' %>
</header>

<div class='game'>
	<div class='row'>
		<div id='move_form'>
			<%= render 'move_form' %>
		</div>
		<div id="board">
			<%= render 'board' %>
		</div>
	</div>
	<div id='bottom_strip'>
	</div>
</div>

