/* Set up */

html, body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex; 
	flex-direction: column;
}

.container { 
	flex: 1;
	position: relative;
	display: flex; 
	flex-direction: column;
	font-family: sans-serif;
}


$magenta: hsla(0, 75%, 30%, 1);
$white_square: hsla(28, 44%, 58%, 0.9);
$black_square: hsla(228, 28%, 18%, 0.8);
$active: hsla(116, 80%, 71%, 0.77);


a {
	text-decoration: none;
	font-weight: 900;
	&:hover {
		color: hsla(207, 100%, 40%, 1);
	}
}

header#header {
	height: 75px;
	background-color: $magenta;
	display: flex;
	align-items: center;
	position: relative;	

	ul.home-header {
		display: flex;
		justify-content: flex-end;
		width: 100%;

		li {
			display: inline;
			margin-right: 20px;
		}
	}

	a {
		color: hsla(0, 0%, 100%, 1);
		font-weight: bold;
		&.home_button {
			/*margin: auto 0;*/
			margin-left: 10px;
		}
	}

	h1.main_title {
		color: hsla(0, 0%, 100%, 1);
		font-weight: bold;
		margin: 0;
		position: absolute;
		top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	}
}

main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: image-url('home_background.png');

	section {
		background-color: hsla(0, 100%, 0, 0.8);
		border-radius: 10px;

		ul {
			list-style: none;
			padding-left: 0;

			li {
				text-align: center;
				color: white;
				padding: 10px 10px;

				a.button {
					&:hover {
						background-color: hsla(207, 100%, 33%, 1); /* New background color on hover */
					}
				}

				&.author {
					font-size: 0.7em;
					font-style: italic;
					font-weight: 400;
				}
			}
		}
	
	}
}

div.game {
	flex: 1;
	display: flex;
	flex-direction: column;


	#move_form {
		/*background-color: $magenta;*/
		width: 20%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		display: relative;


		div#show-turn {
			position: absolute;
			top: 100px;
			.turn {
				display: inline-block;
				width: 75px;
				height: 40px;
				text-align: center;
					margin-right: 10px;
				&.active {
					background-color: $active;
					font-weight: 900;
				}
			}
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: center;

			label {
				padding-bottom: 10px;
			}

			input {
				margin-bottom: 10px;
				&.button:hover {
					background-color: hsla(207, 100%, 33%, 1); /* New background color on hover */
				}
			}
		}
	}

	#board {
		padding: 20px;
		flex: 1;
		display:flex;
		align-items: center;
		justify-content: center;
		/*background-color: $magenta;*/

		table {
			height: 100%;
			width: 100%;

			tr {
				td {
					position: relative;
					width: 12.5%;
					padding-top: 12.5%;
					&.light {
						background-color: $white_square;
					}
					&.dark {
						background-color: $black_square;
					}

					p.square_label {
						margin: 0;
						position: absolute;
						bottom: 0;
						right: 0;
						font-size: 0.8em;
						font-weight: 800;
					}
					img.chess_piece {
							position: absolute;
    					top: 10px;
    					left: 0;
    					right: 0;
    					bottom: 20px;
						  max-width: 100%; /* Limit the maximum width to fit within the square */
  						max-height: 100%; /* Limit the maximum height to fit within the square */
  						width: 60%; /* Maintain the aspect ratio */
  						height: auto; /* Maintain the aspect ratio */
  						display: block; /* Ensure proper alignment */
  						margin: auto; /* Center the image horizontally */
					}
				}
			}
		}
	}

	#bottom_strip {
		height: 75px;
		background-color: $magenta;
	}
}

div.row{
	flex: 1;
	display: flex;
	flex-direction: row;
}

div.profile {
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.games {
	flex: 1;
	display: flex;

	justify-content: center;
}

ol.games {
	list-style: none;
	li {
		margin-bottom: 20px;
		span.attribute{
			font-weight: bold;
		}
	}
}

.button {
	display: inline-block;
	padding: 20px 30px;
	color: hsla(0, 0%, 100%, 1);                /* Button text color */
	border-radius: 4px;                         /* Rounded corners */
	font-weight: 600;
	transition: background-color 0.3s, color 0.3s;
	background-color: $magenta;
}

.chess-piece {
  max-width: 100%; /* Ensure the image does not exceed the container size */
  max-height: 100%;
  width: auto; /* Allow the width to adapt to the height */
  height: auto; /* Allow the height to adapt to the width */
}

/* Define different sizes for different screen sizes */
@media screen and (max-width: 768px) {
  .chess-piece {
    max-width: 50%; /* Adjust the size for smaller screens */
  }
}

/* flash */
div.success {
	background-color: hsla(120, 100%, 50%, 0.3);
	border: 2px solid hsla(120, 100%, 50%, 1);
	border-radius: 20px;
	text-align: center;
}

div.warning {
	background-color: hsla(0, 100%, 50%, 0.7);
	border: 2px solid hsla(0, 100%, 50%, 1);
	border-radius: 20px;
	text-align: center;
}

/* Sign up form */
div.form{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;


	input, textarea, select, .uneditable-input {
	display: block;
  border: 1px solid #bbb;
  width: 300px;
  margin-bottom: 15px;
	}

	input {
	  height: auto !important;
	}

	div.error-messages{
		color: red;
	}
	
}
